include header

.container
    
    h1 Common

    table.u-full-width
        thead
            tr
                th Name
                th Age
                th Sex
                th Location
        tbody
            tr
                td Dave Gamache
                td 26
                td Male
                td San Francisco
            tr
                td Dwayne Johnson
                td 42
                td Male
                td Hayward

 
                