include header

.container
    
    h1 Hi, #{user}!
    h2 Dashboard
    p Ви увійшли в систему.
    img(src="https://miro.medium.com/v2/resize:fit:1400/1*heL-f8bPywxsNG2snNPIwQ.jpeg", alt="", style="max-width:200px;")
    div
      a(href="/logout") Вийти
