doctype html
html
  head
    title Форма отзыва
  body
    h1 Оставить отзыв
    form(action="/form" method="POST")
      input(type="text" name="username" placeholder="Ваше имя" required)
      br
      textarea(name="message" placeholder="Ваш отзыв" required)
      br
      button(type="submit") Отправить