include header

.container
    
    h1 Main
 
    p Pari Khan Khanum (1548–1578) was a Safavid princess, the daughter of the second Safavid shah, Tahmasp I, and of his Circassian consort, Sultan-Agha Khanum. Pari Khan played a central role in the succession crisis after her father's death in 1576. She thwarted the plans of her brother Haydar Mirza and enthroned her favoured brother, Ismail Mirza, as Ismail II. Instead of gratitude, she received restrictions and house arrest, and may have been behind his death in 1577. She endorsed her brother Mohammad Khodabanda, who was almost blind, expecting to rule behind the scenes, but his wife, Khayr al-Nisa Begum, emerged as a rival and procured her killing. Regarded as the most powerful woman in Safavid history, Pari Khan was able to dominate the ineffective Safavid court in a society that imposed harsh restrictions on high-class women.